<div class="call">
  <div class="call-box-top">
        <div class="call-phone"><strong>Compre agora mesmo </strong>e garanta acesso imediato ao livro.  </div>
    <!-- <div class="call-email"><strong>Participe</strong> você pode sugerir capítulos para que eu escreva sobre.</div> -->
  </div>
  <div class="call-box-bottom">
    <a href="https://buy.stripe.com/9AQ8z9eFv9So6Vq009" id="botaoComprar" target="_blank" title="Pre order do livro Explicando, Application Security" alt="Pre order do livro Explicando, Application Security" class="button button-primary">Reservar agora</a>
  </div>
</div>