<div class="call">
  <div class="call-box-top">
        <div class="call-phone"><strong>Reserve agora mesmo </strong>e garanta acesso à produção do livro.  </div>
    <div class="call-email"><strong>Participe</strong> você pode sugerir capítulos para que eu escreva sobre.</div>
  </div>
  <div class="call-box-bottom">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="cassio@cassiobp.com.br">
      <input type="hidden" name="lc" value="BR">
      <input type="hidden" name="item_name" value="Livro - Explicando, Application Security">
      <input type="hidden" name="amount" value="14.99">
      <input type="hidden" name="currency_code" value="BRL">
      <input type="hidden" name="button_subtype" value="services">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
      <input type="submit" value="Reservar agora" name="submit" title="Pre order do livro Explicando, Application Security" alt="Pre order do livro Explicando, Application Security" class="button" />
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>